* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050605;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ead0ac;
  gap: 2rem;
 
}
/* .main{
  display: flex;
  flex-direction: column;
} */

.info{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.turn{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.turnChoice{
  display: flex;
}

.turnChoice div{
  border: 1px solid #ead0ac ;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x{
  background-color: #07215b;
}
.o{
  background-color:#ce2429 ;
}

.result {
  height: 450px;
  width: 450px;
  border: 6px solid #ead0ac;
  color: #ead0ac;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 3rem;
  text-shadow: 5px 5px 5px #806f58;
}

.hide {
  display: none;
}
#play {
  background-color: #ead0ac;
  color: #050605;
  border: none;
  border-radius: 0.8rem;
  height: 5rem;
  width: 8rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 1rem #b38b50;
}

#reset {
  background-color: #ead0ac;
  color: #050605;
  border: none;
  border-radius: 0.8rem;
  height: 3.6rem;
  width: 8rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 1rem #b38b50;
}
.container {
  background-color: #ead0ac;
  height: 550px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1.15rem;
}

.game {
  height:470px;
  width: 470px;
  background-color: #050605;
  color: #ead0ac;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 1.15rem;
}

.line{
  background-color:  #050605;
  width:0;
  height:10px;
  position: absolute;
  transition: width 1s ease-in-out;
  box-shadow: 0 0 0.7rem #706f6d;
  border: none;
  border-radius: 1.15rem;
}

.boxes {
  height: 370px;
  width: 370px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.box {
  border: none;
  border-radius: 1.15rem;
  background-color: #ead0ac;
  box-shadow: 0 0 0.7rem #b38b50;
  font-size: 4.4rem;
  font-weight: bold;
}

.box:hover {
  background-color: #907b5e;
}
.blue {
  color: #07215b;
}

.red {
  color: #ce2429;
}




@media  screen and (max-width: 930px) {
  body{
    flex-direction: column;
  }

  .info{
    gap: 1rem;
  }

  .container {
    height: 390px;
    width: 390px;
    
  }
  
  .game {
    height:320px;
    width: 320px;
    
  }
  
  .boxes {
    height: 270px;
    width: 270px;
  }
  
  .box {
    
    font-size: 2.4rem;
  }
  
  .result {
    height: 400px;
    width: 400px;
    gap: 1.5rem;
    
  }
  
 
}