* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

h2 {
  background-color: rgb(7, 7, 59);
  color: white;
  height: 5rem;
  line-height: 5rem;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container {
  width: 500px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 90%;
}

form select,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  height: 3rem;
}

form input{
    background-color: rgb(247, 246, 246);
}

form input:hover{
    border-bottom:3.6px solid rgb(7, 7, 59);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.from,
.to {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.heading{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1.4px solid rgb(207, 203, 203);
    
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 90%;
}

.select-container img {
  max-width: 4rem;
}


button {
  background-color: rgb(7, 7, 59);
  color: white;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  width: 12rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
